body
{
  padding-top: 40px;
  padding-bottom: 40px;
}

.side-menu{
    z-index: 1000;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 100px;
    top: 50px;
}

.side-menu-items{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #000;
    padding: 10px;
}

.left-menu{
  left: 0;
}

.right-menu{
  right: 0;
}

.page{
  margin: 0 260px;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  list-style: none;
}

.offset{
  margin-left: 20px;
}

.message.typing .messageBody {
  color: gray;
}

.inputMessage {
  border: 10px solid #000;
  width: 100%;
  height: 60px;
}

.inputMessageWrapper{
  bottom: 50px;
  height: 60px;
  left: 0;
  outline: none;
  padding: 0 250px;
  position: fixed;
  width: 100%;
  margin-right: 250px;
  overflow: auto;
}
