body
{

}

/******************************************/

#wrapper {
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#wrapper .navbar{
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled .navbar{
  left: 0px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* sidebar-right*/
#wrapper.toggled-right {
    padding-right: 250px;
}

#sidebar-right-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-right #sidebar-right-wrapper {
    width: 0px;
}

#wrapper.toggled-right .navbar{
  right: 0px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        padding-right: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper .navbar{
      right: 250px;
      left: 250px;
    }

    #wrapper.toggled-right {
        padding-right: 250px;
    }

    #sidebar-right-wrapper {
        width: 250px;
    }
}

/*****************************************/
/*
.side-menu{
    z-index: 1000;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 100px;
    top: 50px;
}

.side-menu-items{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #000;
    padding: 10px;
}

.left-menu{
  left: 0;
}

.right-menu{
  right: 0;
}
*/
.page-container{
  padding: 65px 10px;
  position: absolute;
}

.page{

}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  list-style: none;
}

.offset{
  margin-left: 20px;
}

.message.typing .messageBody {
  color: gray;
}

.inputMessage {
  border: 10px solid #000;
  width: 100%;
  height: 60px;
}

.inputMessageWrapper{
  bottom: 50px;
  height: 60px;
  left: 0;
  outline: none;
  padding: 0 250px;
  position: fixed;
  width: 100%;
  margin-right: 250px;
  overflow: auto;
}

.containerMain
{
	width: 100%;
	float: left;
	overflow: auto;
	height: 100%;
  background-color: white;
}

.roomseleted{
  color: blue;
  border: 1px solid blue;
}

#videos {
  font-size: 0; /* to fix whitespace/scrollbars problem */
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

#videos.active {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#local-video {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;  /* no letterboxing */
  transition: opacity 1s;
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  width: 100%;
}

#mini-video {
  border: 1px solid gray;
  bottom: 20px;
  left: 20px;
  /* video div is flipped horizontally when active*/
  max-height: 17%;
  max-width: 17%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}

#mini-video.active {
  opacity: 1;
  z-index: 2;
}

#remote-video {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;  /* no letterboxing */
  opacity: 0;
  position: absolute;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: opacity 1s;
  width: 100%;
}

#remote-video.active {
  opacity: 1;
  z-index: 1;
}

button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
    margin: 0;
}

video {
  height: 225px;
  margin: 0 0 20px 0;
  vertical-align: top;
  width: calc(50% - 12px);
}

video#localVideo {
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 400px) {
  button {
    width: 83px;
  }

  button {
    margin: 0 11px 10px 0;
  }


  video {
    height: 90px;
    margin: 0 0 10px 0;
    width: calc(50% - 7px);
  }
  video#localVideo {
    margin: 0 10px 20px 0;
  }

}
