<input type="text" class="form-control" id="searchRoom" placeholder="search room" ng-model="roomName">
<p></p>
<ul style="list-style: none; margin-left: -45px;">
  <li style="float: left; min-width: 200px; margin: 5px" ng-repeat="room in rooms | filter:roomName">
    <a href="#/chat:{{room.id}}#chatfix" ng-click="select(room)">
      <div class="panel panel-info panel-{{room.selected}}">
        <div class="panel-heading">
            {{room.name}}
            <span class="badge" style="float: right;">{{room.users.length}}</span>
        </div>
        <div class="panel-body">
          {{room.name}} decription
        </div>
      </div>
    </a>
  </li>
</ul>
